*~
*.lock
*.DS_Store
*.swp
*.out
app/Tests/*
app/Views/*
app/Views/common/*
app/Locales/*
tmp/*.sqlite
tmp/logs/*
tmp/cache/apache/*
tmp/cache/app/http/*
tmp/cache/app/*
tmp/cache/twig/*
tmp/cache/profiler/*
tmp/sessions/*
tmp/audit/*
tmp/profiling/*
tmp/reports/*
components/*
vendor/*
