<VirtualHost *:80>
    ServerName my-site.local
    DocumentRoot /path/to/site/web

    DirectoryIndex index.php
    AddDefaultCharset UTF-8
    DefaultLanguage en-US
    SetEnv TZ Europe/Rome

    # MIXED ###################################################################
    ServerSignature Off
    HostnameLookups Off
    TimeOut 120
    FileETag MTime Size
    TraceEnable off

    # PROTECT FROM FLOOD
    LimitRequestBody 10485760

    # MISPELING ###############################################################
    <IfModule mod_speling.c>
        CheckSpelling On
    </IfModule>

    # LOG #####################################################################
    LogLevel warn
    LogFormat "%h %l %u %t \"%r\" %>s %b" common
    LogFormat "\"%r\" %D"                 measure-time
    CustomLog /path/to/site/tmp/logs/access.log     common
    CustomLog /path/to/site/tmp/logs/slow_pages.log measure-time
    ErrorLog /path/to/site/tmp/logs/error.log

    # DIRECTORIES #############################################################
    <Directory /path/to/site/web>
        Order Allow,Deny
        Allow from all
        AllowOverride All

        Options All -Indexes

        <IfModule mod_actions.c>
            <LimitExcept GET POST>
                Order Deny,Allow
                Deny from all
            </LimitExcept>

            Script GET       index.php
            Script POST      index.php
            Script PUT       index.php
            Script DELETE    index.php
            Script CONNECT   index.php
            Script OPTIONS   index.php
            Script PATCH     index.php
            Script PROPFIND  index.php
            Script PROPPATCH index.php
            Script MKCOL     index.php
            Script COPY      index.php
            Script MOVE      index.php
            Script LOCK      index.php
            Script UNLOCK    index.php
        </IfModule>
    </Directory>

    <Directory />
        AllowOverride All
        #CharsetDefault UTF-8

        Options All -Indexes -ExecCGI
    </Directory>

    <Directory ~ /web/(css|js|media)>
        Order Deny,Allow
        Deny from all
        Allow from env=local_referal
    </Directory>

    # ADD SLOW QUERIES

    <Files .htaccess>
        Order Allow,Deny
        Deny from all
    </Files>

    # CACHE ###################################################################
    <IfModule mod_cache.c>
        CacheDefaultExpire 3600
        CacheMaxExpire 86400
        CacheEnable disk /
        CacheIgnoreHeaders Set-Cookie
        # http://http://httpd.apache.org/docs/2.0/mod/mod_disk_cache.html
    </IfModule>

    # REWRITE #################################################################
    <IfModule mod_rewrite.c>
        RewriteEngine On

        # BLOCK THE POST REQUEST WITHOUT REFERER
        RewriteCond %{REQUEST_METHOD} POST
        RewriteCond %{HTTP_REFERER} !.*my-site.local.*
        RewriteRule (.*)              -                          [R=400]

        #BLOCK XSS
        RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
        RewriteRule .*                -                          [R=412]

        RewriteCond %{REQUEST_FILENAME} -s [OR]
        RewriteCond %{REQUEST_FILENAME} -l [OR]
        RewriteCond %{REQUEST_FILENAME} -d
        RewriteRule ^.+$               -                         [NC,L]

        RewriteRule ^(.*)\.(css|js)$   /minify/index.php?f=$1.$2 [L]
        RewriteRule .*                 /index.php                [QSA,L]
    </IfModule>

    # SECURITY ################################################################
    <IfModule mod_security.c>
        SecFilterEngine On
        SecAuditEngine RelevantOnly

        SecFilterCheckURLEncoding On

        SecFilterCheckCookieFormat On

        SecAuditLog tmp/logs/audit.log
        SecFilterDefaultAction "deny,log,status:406"

        SecFilterScanPOST On
        SecFilterForceByteRange 32 126

        # PREVENT PATH TRAVERSAL (..) ATTACKS
        SecFilter "\.\./"

        # WEAKER XSS PROTECTION BUT ALLOWS COMMON HTML TAGS
        SecFilter "<( |\n)*script"

        # PREVENT XSS ATACKS (HTML/JAVASCRIPT INJECTION)
        # SecFilter "<(.|\n)+>"

        # VERY CRUDE FILTERS TO PREVENT SQL INJECTION ATTACKS
        SecFilter "delete[[:space:]]+from"
        SecFilter "insert[[:space:]]+into"
        SecFilter "select.+from"
    </IfModule>

    # EXPIRES #################################################################
    <IfModule mod_expires.c>
        ExpiresActive On

        #ExpiresDefault "access plus 86400 seconds"
        ExpiresByType image/x-icon             "access plus 1 month"
        ExpiresByType image/gif                "access plus 1 month"
        ExpiresByType image/jpeg               "access plus 1 month"
        ExpiresByType image/png                "access plus 1 month"
        ExpiresByType application/javascript   "access plus 2 week"
        ExpiresByType application/x-javascript "access plus 2 week"
        ExpiresByType text/css                 "access plus 2 week"
    </IfModule>

    # PHP #####################################################################
    <IfModule mod_php5.c>
        php_value zlib.output_compression 16386
        php_value allow_url_fopen         off
        php_value allow_url_include       off
        php_value display_errors          off
        php_value log_errors              on
        php_value expose_php              off
        php_value file_uploads            off
        php_value magic_quotes_gpc        off
        php_value memory_limit            128M
        php_value post_max_size           256K
        php_value register_globals        off
        php_value session.save_path       tmp/sessions
        php_value upload_max_filesize     256K
        php_value upload_tmp_dir          tmp/sessions
        php_value session.use_trans_sid   off

        #php_value force_redirect
        #php_value open_basedir
    </IfModule>

    # PAGESPEED ###############################################################
    #<IfModule pagespeed_module>
    #    ModPagespeed on
    #</IfModule>
</VirtualHost>
