<!DOCTYPE html>
<html>
    <head>
        <title>My Silex Setup App</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css" />
    </head>
    <body>
        <h1>My Silex Setup App</h1>
        {{ content }}
    </body>
</html>
